<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h2>User List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>USER NAME</th>
        <th>PASSWORD</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>

<!--<tr th:each= "publicUser : ${publicUsers}"> -->